/* ImageGallery.css */

.image-gallery {
    overflow: hidden;
  }
  
  .image-container {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out;
  }
  